.courses {
  background-color: #111;
  color: #fff;
}

.courses .hero.is-info {
  background-color: #222;
  color: #fff;
}

.courses .title {
  color: #fff;
}

.courses .column.is-4 .box {
  background-color: #333;
}

.courses .column.is-4 .box p {
  color: #fff;
}

.courses .column.is-12 .pagination a {
  background-color: #333;
  color: #fff;
}

.courses .columns.is-multiline .column.is-4 .box .title {
  color: #fff;
}

.courses .columns.is-multiline .column.is-4 .box .subtitle {
  color: #ccc;
}

.courses .columns.is-multiline .column.is-4 .box .content {
  color: #fff;
}
