.courses {
  background-color: #111;
  color: #fff;
}

.courses .hero.is-info {
  background-color: #222;
  color: #fff;
}

.courses .title {
  color: #fff;
}

.courses .menu-label,
.courses .menu-list a {
  color: #fff;
}

.courses .menu-list a.is-active {
  background-color: #333;
}

.courses .column.is-4 .box {
  background-color: #333;
}

.courses .column.is-4 .box p {
  color: #fff;
}

.courses .column.is-12 .pagination a {
  background-color: #333;
  color: #fff;
}
