.courses {
  background-color: #111;
  color: #fff;
}

.courses .hero.is-info {
  background-color: #222;
  color: #fff;
}

.courses .title {
  color: #fff;
}

.courses .menu-label,
.courses .menu-list a {
  color: #fff;
}

.courses .menu-list a.is-active {
  background-color: #333;
}

.courses .column.is-4 .box {
  background-color: #333;
}

.courses .column.is-4 .box p {
  color: #fff;
}

.courses .column.is-12 .pagination a {
  background-color: #333;
  color: #fff;
}

.courses .columns.content {
  background-color: #333;
}

.courses .columns.content .column.is-2 ul li a {
  color: #fff;
}

.courses .columns.content .column.is-10 h2,
.courses .columns.content .column.is-10 p {
  color: #fff;
}

.courses .columns.content .column.is-10 .tag.is-warning,
.courses .columns.content .column.is-10 .tag.is-success {
  color: #fff;
}

.courses .columns.content .column.is-10 hr {
  border-color: #fff;
}

.courses .columns.content .column.is-10 .pagination a {
  background-color: #333;
  color: #fff;
}

.courses .columns.content .column.is-10 .tag.is-warning:hover {
  background-color: #333;
  color: #fff;
}

.courses .columns.content .column.is-10 .tag.is-success {
  background-color: #333;
  color: #fff;
}
