.login {
  background-color: #111;
  color: #fff;
}

.login .hero.is-info {
  background-color: #222;
}

.login .title {
  color: #fff;
}

.login .input {
  background-color: #333;
  color: #fff;
}

.login .button.is-dark {
  background-color: #333;
  color: #fff;
}

.login .notification.is-danger {
  background-color: #ff3860;
  color: #fff;
}
